article {
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0) translateX(-200%);
  -moz-transform: translateZ(0) translateX(-200%);
  transform: translateZ(0) translateX(-200%);
  display:block;
  position:fixed;
  top:20%;
  width:40%;
  // height:40%;
  // margin-top:-15%;
  left:5%;
  z-index:555;
  background-color:hsla(0,0%,10%,0.10);
  padding:1.5%;
  transition:transform 0.5s cubic-bezier(0.765, -0.100, 0.200, 1.035);
  -moz-transition:-moz-transform 0.5s cubic-bezier(0.765, -0.100, 0.200, 1.035);
  transition:transform 0.5s cubic-bezier(0.765, -0.100, 0.200, 1.035);

  h1 {
    font-size:2rem;
  }
  h2 {
    font-weight:100;
    font-size:1.8rem;
    margin-bottom:2rem;
  }

p {
  line-height: 1.5;
}

.ps {
    margin-top:0;
    font-size:1.3rem;
    // line-height:2;
    margin-bottom:0.1rem;

&:last-child {
  margin-top:0.2rem!important;
}

  }

.wikiLink {
  margin-top:0.5rem;
}
  .aboutClose {
    margin-top:3rem;
    display:block;
    float: right;
    font-size: 1.2rem;
      background-color:hsla(0,0%,10%,0.20);
      color:hsla(0,0%,10%, 0.9);
      padding: 1rem;

    &:hover {
      background-color:hsla(0,0%,10%,0.40);
      color:hsla(0,0%,10%, 1);
    }
    &:active{
     background-color:hsla(0,0%,10%,0.05);
    }
  }

  a {
    // text-align:right;
    // font-size:1.2rem;
    // display:block;
    // position:relative;
    // width:50%;
    // float:right;
    // bottom:2.5%;
    // right:5%;
  }
  &.light {
    background-color:hsla(0,0%,90%,0.05);
    color:hsl(0,0%,90%);

    .aboutClose {
      background-color:hsla(0,0%,90%,0.15);
      color:hsla(0,0%,90%, 0.8);
          &:hover {
      background-color:hsla(0,0%,90%,0.40);
      color:hsla(0,0%,90%, 1);
    }
    &:active{
     background-color:hsla(0,0%,90%,0.05);
    }
    }
  }

  body.flap_about & {
      transform: translateZ(0) translateX(0%);
      -moz-transform: translateZ(0) translateX(0%);
      transform: translateZ(0) translateX(0%);
  }
  @include respond(until, '800px') {
    position:absolute;
    top:6rem;
    display:block;
    left:5%;
    transform: translateZ(0) translateX(0%);
    -moz-transform: translateZ(0) translateX(0%);
    transform: translateZ(0) translateX(0%);
    width:90%;

    .aboutClose {
      display:none;
    }
  }

}
