.channel__wrap {
  // background-color: red;
  height: 100%;
  width:40rem;
  position: absolute;
  top: 0;
  padding-left: 5rem;
  padding-top: 20%;
  transition:all 0.4s ease-out, transform 0.4s ease-out 0s;
  transform:translate3d(-40rem,0,0);

  &:before {
    content:"Channels";
    font-size: 8rem;
    float: left;
    text-align: center;
    margin-left: 0rem;
    margin-top: -13rem;
    font-family: "jubilat", serif;
    font-weight: bold;
    opacity: 0.03;
    // top: -5rem;
  }
}
.channel__current {
  position: fixed;
  display: none;
  z-index: -10;
  font-size: 10rem;
  top: 0rem;
  text-align: left;
  @include trunk;
  // width: 10rem;
  // height: 10rem;
  font-family: "jubilat", serif;
  left: -2rem;
  // display: block;
  width: 55rem;
  transform-origin:0 100%;
  // background-color: red;
  line-height: 1;
  opacity: 0.02;
    transform:translate3d(0,0,0) rotateZ(90deg);
}

.channel__trigger {
  position: absolute;
  left: 0;
  top:0;
  width:3rem;
  bottom:0;
  // background-color: blue;
  height: 100%;
  &:hover {
    background-color: rgba(white, 0.5);
  }

}
.channelsOpen:not(.inputOpen) {
.channel__trigger--back {
  position: absolute;
  right: 1.6rem;
  top:0;
  width:3rem;
  bottom:0;
  // background-color: blue;
  height: 100%;
  z-index: 88;
  &:hover {
    background-color: rgba(white, 0.5);
  }
}
}

.channel__model {
  margin-bottom: 6rem;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
   &.channel--active {
    opacity: 1;
      transition:all 0.4s ease-out, transform 0.4s ease-out 0s;
     transform:translate3d(5rem,0,0);
     // transform:translateX(10%);
    }
}
  .open--channels .channel__wrap {
    position: relative;

      transform:translate3d(0,0,0);
   }

.open--input .channel__wrap {
  position: fixed;
     transform:translate3d(20rem,0,0);
   opacity:0;
   pointer-events:none;
}
