



.controls {
// background-color: red;
transform:translate3d(40rem,0,0);
opacity: 0;
position: fixed;
// padding-left:3rem;
left: 3rem;
top: 0rem;
z-index: 9999;
width:40rem;
padding-bottom: 6rem;
padding-top: 20%;
height: auto;
transition:all 0.4s ease-out, transform 0.4s ease-out 0s;
&:before {
  content:"Controls";
  font-size: 8rem;
  float: left;
  text-align: center;
  margin-left: 3rem;
  margin-top: -13rem;
  font-family: "jubilat", serif;
  font-weight: bold;
  opacity: 0.03;
  // top: -5rem;
}
.controls__wrap {
  padding:0 5rem;
  margin-bottom: 20rem;
}

li {display: inline-block;}


.controls__button {
  display: block;
  margin-bottom: 1rem;
  padding:1rem 0.5rem;
  border-bottom: 1px solid rgba(black, 0.2);
  // border-right: 1px solid rgba(black, 0.2);
  transition:all 0.4s ease-out;
  margin-top:1rem;
  input {
    display: inline-block;
    transition:all 0.4s ease-out;
    width: 2rem;
    margin-right:0.4rem;
    border-radius: 100%;
    float: right;
    // border: 1px solid rgba(white, 0.4);
    background-color: rgba(black, 0.1);
    height: 2rem;
    -webkit-appearance:none;
    &:checked {
      background-color:red;
    }
  }
  &:hover {
    background-color: rgba(white, 0.3);
  }
  // a {width:100%; height:100%; display: block; text-decoration: none;}
  &.controls--active {
    // background-color: rgba(white, 0.3);
    input {
      background-color: rgba(black, 0.25);
      // box-shadow: inset 0 0 0.3rem rgba(black, 0.3);
      // transform: rotate3d(0, 0, 1, 90deg);
      border-radius: 100%;
      // border-color:rgba(black, 0.5);
      color:white;
      &:after {
        content: "";
        position: absolute;
        top: 24%;
        left: 24%;
        right: 24%;
        bottom: 24%;
        border-radius: inherit;
        background-color: rgba(black, 0.45);
        display: block;
        // width: 100%;
        // height: 100%;
      }
    }
  }
}

}


.presets {
  width: 100%;
  padding: 0;
  margin:0;
  // border: 1px solid rgba(black, 0.2);
  // padding: 0 0 0 5rem;
  .presets__single {
    width: 18.2rem;
    height: 18.2rem;
    padding: 2rem;
    // margin-left: -4px;

    // border: 1px solid black;
  }
  .presets__box {
    box-shadow: 0 0 0 1px black;
    display: block;
    height: 100%;
    // position: absolute;
    width: 100%;
  }
}



.controls__range {
  width: 100%;
  height: 5rem;
  // margin-top: 1rem;
  display: block!important;
  label {
    margin-top: 1rem;
    margin-left: 0.8rem;
    display: block;
    position: absolute;
  }
  input[type='range'] {
    display: block;
    width:100%;
  -webkit-appearance: none;
  margin-bottom: 1rem;
  background-color: rgba(white, 0);
  height: 4rem;
  border-bottom: 1px solid rgba(black, 0.2);
  // border-top-color:transparent;
  width: 100%;
  display: block;
  overflow: hidden;
  &::-webkit-slider-thumb{
   transition:all 0.4s ease-out;
   -webkit-appearance:none !important;
   border-radius:0;
   background-color: rgba(white, 0.2);
   border: 1px solid rgba(black, 0.1);
   border-top:1px solid rgba(black, 0.1);
   height: 3.5rem;
   top: 0px;
   width:2rem;
 }

   &:hover {
    &::-webkit-slider-thumb {
    background-color: rgba(white, 0.8);
    }
  }
 &:after {
  content: attr(data-control-method-value);
  position: absolute;
  font-size: 2rem;
  color: rgba(black, 0.2);
  right: 0.6rem;
  top: 0.7rem;
 }
}
  &.controls__range--vert {
    -webkit-appearance: slider-vertical;
    height: 10rem;
  }
}
.open--controls .controls {
  position: relative;
  transform:translate3d(0rem,0,0);
  opacity: 1;
}

.controls__section {
  display: block;
  margin-top: 2rem;
  width: 100%;
  // padding: 2÷rem 2rem;
  // background-color: rgba(white, 0.3);
  float: none;
}
.controls__sectitle {
  // color: red;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(black, 0.2);
  margin-bottom: 1rem;
  display: block;

}

.controls--hided {
  opacity: 0;
  pointer-events:none;
  position: absolute;
  transform:translate3d(0, 5rem, 0);
      transition: all 0.4s ease-out;
  height: 0;
    &.controls__button {
    // position: relative;
    // height: 0;
      // height: 4rem;
    }
  // margin-bottom: 1rem;
  // margin-top: 1rem;
}
.controls--tohide {
  height: 5rem;
  transition: all 0.4s ease-out, transform 0s ease-out 0s, height 0s linear 0s ;
  // transform:translate3d(0, -5rem, 0);
   pointer-events:auto;
}
.controls--hided, controls--tohide {
    transition:all 0.4s ease-out;
}

.controls--hideswitch.controls--active{
  & ~ .controls--hided {
    position: relative;
    transition: all 0.4s ease-out, transform 0s ease-out 0s;
    transform:translate3d(0, 0, 0);
      pointer-events:auto;
    // background-color: red;
    height: 5rem;
    opacity: 1;
    &.controls__button {
      height: 4rem;
    }
  }
    & ~ .controls--tohide {
      height: 0;
      pointer-events:none;
      // position: absolute;
      transition:all 0.4s ease-out, transform 0s ease-out 0.4s;
      // transform:translate3d(0, -5.2rem, 0);
      opacity: 0;
      // position: absolute;
    // background-color: red;
  }
}

