.header {
  width:60rem;
  height: 7rem;
  padding: 0 0rem 0.5rem 0rem;
  overflow: hidden;
  // background-color: rgba(white, 0.6);
  background: rgba(white, 0.1);
  position: fixed;
  // left:4rem;
  transform:translate3d(0,0,0);
  z-index: 10000;
  transition:all 0.25s ease-out;
  border-bottom: darken(rgba(white, 0.1), 30%) solid 1px;


  // .header__logoimg {
  //       // -webkit-filter:sepia(0.5);
  //   // top:50%;
  //   // left:50%;
  //   // margin-top: -%;
  //   // margin-left: -12.6%;
  //   border-radius: 100%;
  //   width:6rem;
  //   height:0;
  //   padding-bottom: 8rem;
  //   // background-color: #F0EDE6;
  //   display: inline-block;
  // }
  .header__logo {
    font-size: 2rem;
    line-height: 7rem;
    padding-left: 5rem;
    // left: 1rem;
    // margin-left: 2rem;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    // float: right;
    color:lighten(black, 30%);
    opacity: 0.3;
   font-family: "jubilat", serif;
   transition:all 0.25s ease-in;
  }

    &:hover {
    background-color: rgba(white, 1);
    .header__logo {
      opacity: 1;
    }
  }
}

.header__about {
  border-top: darken(#F0EDE6, 3%) solid 1px;
  opacity: 0;
  padding-right: 5rem;
  // z-index: 9999;
  width:100%;
  // text-align: center;
  color:lighten(black, 30%);
  h2 {
    // width:70%;
    // width:80%;
    // text-align: justify;
    font-size: 1.6rem;
    margin-bottom:1rem;
    margin-top: 2.4rem;
  }
  p {
    width:100%;
    // margin-left: -1rem;
    text-align: left;
    font-size: 1.5rem;
    line-height:1.5;
  }
  position: absolute;
  // margin-left: -6.2rem;
  display: block;
  left:0;
  // margin-top: 6.5rem;
  padding-left: 5rem;
  padding-top: 2rem;
}

.header__trigger {
  position: absolute;
  right:1.5rem;
  opacity: 0;
  top:2.8rem;
  text-decoration: none;
  // background-color: rgba(black, 0.2);
  // width:2rem;
  // height: 2rem;
  transition:all 0.25s ease-out;
  text-align: center;
  // border-radius: 100%;
  // color:rgba(white, 0.7);
  // font-weight: bold;
  // text-indent: 0.2rem;
  // line-height: 2.1rem;
  // font-size: 1.3rem;

  &:hover {
    // color:white;
    opacity: 0.9;
    // background-color: black;
  }
}
.header__aboutcredit {
  // text-align: right;
  margin-top: 3.5rem;
  // width: 38rem!important;
  text-align: right!important;

}



.menu {
  // border-top: darken(#F0EDE6, 3%) solid 1px;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
  // background-color: red;
  bottom: 0;
  height: 7rem;
  line-height: 7rem;
  display: block;
  width:40rem;
  z-index: 9999999;
  // background-color: red;
  li {display: inline-block;
    text-align: center;
    float: left;
    height: 7rem;
    width:25%;}
    a {display: block;
      height: 7rem;
    transition:all 0.25s ease-out;
      // line-height:1;
      opacity: 0.1;
      background-color: transparent;
      padding-top: 7px;
      &.menu--active {background-color: rgba(white, 0.2); opacity: 1;}
    }
}

.menu_desc {
  display: block;
  transition:all 0.4s linear;
  position: absolute;
  bottom: -1rem;
  text-align: center;
  width: 100%;
  left: 0;
  color:lighten(black, 20%);
  opacity: 0;
  // font-style: italic;
  // color: black;
  line-height: 2rem;
  font-size: 1.2rem;
  transform: translate3d(0, 0, 0);
  // font-family: "jubilat", serif;
  // left:50%;
  // margin-left: -20%;
  // font-family: arial;
}
.menu li:hover {
  background-color: rgba(white, 0.8);
  color:#222;
  opacity: 1;
  line-height: 5.5rem;
  transition:all 0.1s ease-out;
 a {
  opacity: 0.8!important;
 }
  .menu_desc {
    opacity: 1;
    // margin-top: 1.1rem;
      transition:all 0.4s ease-out -0.05s;
    transform: translate3d(0, -2rem, 0);
  }
}

.menu a:active {
  // opacity: 1!important;
  color:black;
  // transition: all 0.1s cubic-bezier(-0.100, 0.200, 1.050, 0.450);
  line-height: 3rem;

  .menu_desc {
    // opacity: 0;
    transition: all 0.6s cubic-bezier(0.000, -1.270, 0.750, 0.750);
    transform: translate3d(0, -1rem, 0);
    // font-style:italic;
  }
  // background-color: white;
  // box-shadow:inset 0 0 10px darken(#F0EDE6, 3%);
}
.header:hover {
    background-color: rgba(white, 0.7);
    .menu__item {opacity: 0.5;}
    .header__trigger {opacity: 0.5;}
  }


  .open--about {
  .header {
    padding-bottom: 30rem;
    background-color: rgba(white, 1);
  }
    .header__logo {
      opacity: 1;
    }
  .header__about {
      transition:all 0.5s ease-out 0.4s;
    opacity: 1;
  }
  #about-trigger {
    opacity: 1;
  }
}


.open--controls .header {
  // background-color: rgba(white, 0.6);
}
