// icons
//
@font-face {
  font-family: 'harmogram-icons';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon] {
  font-size: 0;
  text-decoration: none;
  &:before {
    font-family: 'harmogram-icons';
    content: attr(data-icon);
    font-size: 1.4rem;
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}

// @include 'compass';


$black :#222;
$white:#fff;
$lightgray:darken($white, 10%);

$testcolor:#f24021;
@mixin trunk { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
  @mixin keyframes ($name) {
    @-webkit-keyframes $name { @content }
       @-moz-keyframes $name { @content }
         @-o-keyframes $name { @content }
            @keyframes $name { @content }
  }

  @mixin animate ($name, $duration, $type:infinite, $ease:linear) {
    -webkit-animation: $name $duration $type $ease;
       -moz-animation: $name $duration $type $ease;
         -o-animation: $name $duration $type $ease;
            animation: $name $duration $type $ease;
  }

@mixin respond($word, $val, $secondVal:"") {
  @if $word == from { @media all and (min-width: $val )  { @content; } }
  @if $word == between { @media all and (min-width: $val ) and (max-width: $secondVal) { @content; } }
  @if $word == until { @media all and (max-width: $val )  { @content; } }
}


@-webkit-keyframes spin {
  0%   { transform:rotate3d(0,0,1,0deg); }
  100% {
   transform:rotate3d(0,0,1,720deg);
   }
}

// @import "_logo";
@import "_fonts";
@import "_header";
// @import "_about";
@import "_roll";
@import "_channels";
@import "_trackinput";
@import "_controls";

*,*:before, *:after {
  box-sizing:border-box;
}
* {
  position:relative;
  margin:0;
  padding:0;
  // -webkit-font-smoothing:antialiased;
}



%display_font {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
   // font-family: "tierra-nueva-norte";
   // font-family: "jubilat";
   //  font-family: "ff-ernestine-web-pro";
   //   font-family: "abril-text";
   //     font-family: "chaparral-pro";
   //      font-family: "jaf-lapture";
   //       font-family: "minion-pro";

}
// moree


// CLEARFIX the 'Beat that clear fix' 2012 way
// http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
// ======================================================================
@mixin clearfix {
 &:after { content:""; display:table; clear:both; }
}















body, html {
    padding: 0;
  margin: 0;
}
html {
  font-size:65.5%;
      overflow:auto;
    background-color:#F0EDE6;
}

body {
  font-size:1.6rem;
  @extend %display_font;
    width:100%;
  display:block;
  min-height:100%;

}

a {
  color:inherit;
}

blockquote {
  border-left: 1px solid rgba(hsl(42, 25%, 90%), 0.9);
  padding: 1rem 2rem 1rem;
  font-style: italic;
  cite {
    font-style: normal;
    opacity: 0.8;
    display: block;
    font-size: 0.8em;
    text-align: right;
    // float: right;
  }
  margin: 0 0 2rem;
}

.container {
    width:100%;
    overflow:hidden;
    @include clearfix;
}





.wrap {
  @include clearfix;
  transition:all 0.5s ease-out;
  -moz-transition:all 0.5s ease-out;
  transition:all 0.5s ease-out;
  // body.flap_about & {
      // transform:translateX(-90%);
    // }
}


footer {
  top:auto;
  bottom:0;
  p {
    padding-left:5%;
    padding-bottom:2.5%;
    font-size:1.4rem;
  }
}
.color {
  z-index: 3;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#F0EDE6;

  transition:all 0.25s linear;
  -moz-transition:all 0.25s linear;
  transition:all 0.25s linear;

}

.isle {
  width:100%;
  padding-bottom:60%;
  position:relative;
  left:0;
  display:block;
  z-index: 3;
  section {display:block; @include clearfix; height:100%;}

  margin-bottom:130%;

  &:first-child {
    margin-top:30%;
  }


// .row {float:right;}
.sample {
  display:inline-block;
  background-color:$testcolor;
  width:30%;
  padding-bottom:30%;
  margin-top:5%;
  margin-left:5%;
  margin-right:-2.5%;
}

h1 {
  font-size:4rem;
  color:inherit;
}
h2 {
  width:100%;
  height:auto;
    word-wrap: break-word;
    display:block;
    // background-color:red;
}

.details {
  vertical-align:top;
    padding-top:3%;
    padding-left:5%;
    margin-right:2.5%;
    display:inline-block;
}
.others {
  padding-top:5%;
  // padding-left:40%;
  p { color:inherit; font-size:1.6rem; position:relative; line-height:2;}
  .color_type {
    text-align:left;
    width:6rem;
    display:inline-block;
    &:after  {
      content: "";
      display:inline-block;
      float:right;
    }
  }
  .color_val {
    // margin-left:1rem;
    font-weight:bold;
  }
  padding-bottom:7.5%;
  margin-left:5%;

}
}



// do font opacity thigny
//

  body {
    opacity:1;
    transition:opacity 0.25s linear;
    -moz-transition:opacity 0.25s linear;
    transition:opacity 0.25s linear;
    .wf-loading:not(.wf-inactive) & {opacity:0;}
  }


  canvas {
    position: fixed;
    left: 0;
    top:0;
    // width: 60%;
    // height: ;
    // padding-bottom: 60%;
    // width:50%;
    right:0;
    bottom:0;
    z-index: -1;
    transform:translate3d(0,0,0) rotate3d(0,0,1,0deg);
    -webkit-backface-visibility:hidden;
    -webkit-perspective:1000;
    // background-image: -webkit-radial-gradient(black, white);
    background-size: auto 60%;
    background-repeat: no-repeat;
    // @include background(linear-gradient(black, white));
  }

  .canvas_spin {
  -webkit-animation: spin 120s infinite;
  -webkit-animation-timing-function:linear;
  }

.not_chrome {
  overflow: hidden;
}
.no_chrome_msg {
  h1 {
      font-family: "jubilat", serif;
      font-size: 3rem;
      font-weight: bold;
      padding-bottom: 13rem;
      color: rgba(black, 0.5);

  }
  h2 {
    line-height: 1.6;
    font-weight: bold;
    font-size: 4rem;
    // color:rgba(black, 0.2);
    // line-height: 1;
    // float: left;
    // position: absolute;
  }
  h3 {
    line-height: 1.4;
  }
  .no_chrome_logo {
    position: fixed;
    width: 50rem;
    line-height: 40rem;
    z-index: -2;
    text-align: center;
    color: rgba(darken(#F0EDE6, 20%), 0.3);
    height: 50rem;
    // background-color: red;
    right: 50%;
    bottom: 50%;
    margin-right: -25rem;
    margin-bottom: -25rem;
    &:before {
      font-size: 42rem;
      line-height: 50rem;
    }
  }
  text-align: left;
  display: none;
  .not_chrome & {
    display: block;
    position: absolute;
    padding:5% 10%;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: #F0EDE6;
    z-index: 9999999;
  }
}

