canvas
  position absolute
  display block
  top 0
  transform:translate3d(0, 0, 0); 
  perspective: 1000;
  backface-visibility: hidden; 
  transition all 0.15s ease-in-out
  filter blur(0px)


  left 0
  width 100%
  height 100% !important
  z-index -1