

/* ===================================================================== *\
        ****************** Main Scss Shuffler fm ******************

                            ====================
                            ::Table of Content::
                            ====================

======================================================================== */




// =====================
// global variables
// =====================

@import "nib"
@import "application/_vars"



html, body 
  height 100%
  width 100%
  font-family: "proxima-nova"



top_padding = 9rem


*:focus {
    outline: 0;
}
html {
  font-size: 62.5%;
  overflow:hidden;

  height: 100%;
}


body {
  font-size: 1.6rem;
  background-color: white;
  // background-color: #e6e7e6;
  left: 0;
  bottom:0;
  padding: 0;
  z-index: 1;
  overflow:hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

}

h1 
  margin 0
  padding 0

ul, li
  list-style none
  margin 0
  padding 0
button
  -webkit-appearance:none
  border: none

  background-color transparent

  box-shadow inset 0 0 0 3px rgba(black, 0.9)
  display inline-block
  // min-width 12rem
  padding 0 3rem
  font-weight 600
  height 4rem
  border-radius 0.4rem
  color black


@import "application/base/_reset"

// @import "objects/nav"
@import "application/objects/_canvas"
@import "application/objects/_lists"

// @import "objects/contents"





.panels
  position absolute
  top:0;
  left:0;
  right:0;
  bottom:0;



.containers
  overflow scroll
  height 100%
  overflow-x hidden
  -webkit-overflow-scrolling touch


.btn
  min-width 10rem
  padding 0 2rem
  height 3.8rem
  line-height 2
  border 2px solid black
  display inline-block
  color black
  margin 1rem 1rem
  border-radius 2rem
.cta-btn
  display block
  position absolute
  left 50%
  top 50%
  margin -6rem 0 0 -6rem
  height 12rem
  width 12rem
  box-shadow inset 0 0 0 3px rgba(black, 0.9)
  
  border-radius 50%
  font-size 0
  padding 0
  text-align center

  &:before
    content ""
    width 0 
    text-align center
    height 0
    display block
    position absolute
    top 50%
    left 50%

    border 3rem solid transparent
    border-left: 4.5rem solid rgba(black, 0.7)
    width: 0
    margin -3rem 0 0 -1.7rem



.nav
  position absolute
  top 0
  right 0 
  left 0 
  height 6rem
  background-color transparent
  // background-color rgba(darken(white, 5%), 0.5)
  padding 0 1rem
  padding-top 0.8rem
  z-index 10
  text-align center
  // border-bottom 1px solid rgba(darken(white, 10%), 0.9)
  h1
    display inline-block
    vertical-align top
    padding-top 1.1rem
    font-weight 900
    opacity 0.6
    font-size 2.3rem

.nav-btn
  position absolute
  display block
  vertical-align top

  padding 1rem
  left 1rem
  top 50%
  margin-top -2rem
  font-size 2rem
  line-height 1
  box-shadow none

.wraps
  height auto
  text-align center

.blurable
  transition all 0.15s ease-in-out

.blurred
  transform scale(1.3)
  // filter blur(4px)

.playlist-panel, .user-panel
  transform: translateX(-100%)
  transition all 0.25s ease-out
  padding-top top_padding
  background-color transparent
  z-index 9

  &.open
    background-color rgba(white, 0.7)
    transform:translateX(0%)



.user-panel
  transform: translateX(100%)
  
.nav-btn-user
  display block
  position absolute
  right 1rem
  left auto
  font-size 1.6rem
  font-weight 600
  border 2px solid lighten(black, 15%)
  color lighten(black, 15%)
  // top 50%
  // margin-top -0.5rem

@media (min-width: 600px) 
  .panels
    right auto
    left auto
    max-width 30%
    min-width 32rem
  .user-panel
    right 0
  .nav 
    text-align left
    padding-left 6rem


  .playlist-panel, .user-panel
    padding-top 0

  .playlist-panel
    &:before
      content ""
      display block
      background red
      left 0
      right 0
      top 0
      height 7rem
      position absolute
      background rgba(white, 0.9)
      z-index 3      
    
