<!DOCTYPE html>
<html>
<head>
  <title>Harmogram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
      <%# viewport tag for mobile devices, disable zooming and set width to device width...%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="//use.typekit.net/qxb4ypo.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="stats"></div>
  <header class="nav" id="nav">
  </header>
  <div id="playlist" class="panels playlist-panel"></div>

  <div id="mainPanel" class="panels main-panel"></div>
  <canvas id="vCanvas"></canvas>
    <%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
</body>
</html>
